<!--<form [formGroup]="contactForm"  novalidate>
  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched)">
      <div *ngIf="contactForm.get('name').errors.required">Nome è obbligatorio</div>
    </div>
  </label>
  <br>
  <label>
    Email:
    <input type="email" formControlName="email">
    <div *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)">
      <div *ngIf="contactForm.get('email').errors.required">L'e-mail è obbligatoria</div>
      <div *ngIf="contactForm.get('email').errors.email">indirizzo email non invalido</div>
    </div>
  </label>
  <br>
  <label>
    Message:
    <textarea formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message').invalid && (contactForm.get('message').dirty || contactForm.get('message').touched)">
      <div *ngIf="contactForm.get('message').errors.required">Il messaggio è obbligatorio</div>
    </div>
  </label>
  <br>
  <button type="submit" [disabled]="contactForm.invalid">Submit</button>
</form>-->

<!--<h1 style="text-align: center; background-color: green;"    (click)="mostraSezione();">Per compilare il modulo clicca qui grazie</h1>
    <div class="form">
        <h3>Contattaci</h3>
        <p>Compila questo modulo per aiutarci a comprendere le tue necessità. Ti ricontatteremo prima possibile</p>
        <p>Puoi anche ricontattarci al numero +39 38 92 978 507a  <a href="#">gueaserge2@gmail.com</a></p>
        <h4>Dati del richiedente:</h4>

        <div>

            <div class="name">
                <div class="column">
                    <label for="">Nome*</label>
                    <input type="text" name="nome" placeholder="Inserisci il tuo nome" minlength="16" maxlength="16">
                </div>
                <div class="column">
                    <label for="">Cognome*</label>
                    <input type="text" name="cognome" placeholder="Inserisci il tuo cognome" minlength="16" maxlength="16">
                </div>
            </div>

            <div class="name">
                <div class="column">
                    <label for="">Telefono*</label>
                    <input type="number" name="cell" minlength="16" maxlength="16">
                </div>
                <div class="column">
                    <label for="">Email*</label>
                    <input type="text" name="email" placeholder="Inserisci la tua email" minlength="16" maxlength="16">
                </div>
            </div>

            <div class="name">
                <div class="column">
                    <label for="">Azienda</label>
                    <input type="text" name="azienda" minlength="16" maxlength="16">
                </div>
                <div class="column">
                    <label for="">Ruolo richiedente in azienda:</label>
                    <select name="opzione" >
                         <option value="altro">Altro</option>
                        <option value="senior">Senior</option>
                        <option value="middle">Middle</option>
                        <option value="junior">Junior</option>
                        <option value="manager">Manager</option>
                        <option value="ceo">CEO</option>
                        <option value="web designer">web designer</option>
                    </select>
                </div>
            </div>

            <div class="name">
                <div class="column">
                    <label for="">Come è venuto a conoscenza <br> di Digital Web service?</label>
                    <select name="opzione" >
                        <option value="altro">Altro</option>
                        <option value="google">Google</option>
                        <option value="facebook">Facebook</option>
                        <option value="linkedin">Linkedin</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="youtube">Youtube</option>
                        <option value="commerciale">Commerciale</option>
                        <option value="passaparole">Passaparole</option>
                        <option value="social">Social</option>
                        <option value="conoscenze">Conoscenze</option>
                    </select>
                </div>
                <div class="column">
                    <label for="">Altri Canali (Se non in lista) </label>
                    <input type="text" name="other" minlength="16" maxlength="16">
                </div>
                <div>
                    <label for="textarea">Cosa vuoi richiederci ?</label>
                    <textarea name="note" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleCheck1">Accetto la privacy policy</label>

                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <button type="submit" class="btn btn-primary">Invia</button>
    </div>-->

<!-- form prima version  -->

<!--<div class="form">
  <h3 [ngClass]="componentClasses"> Compila questo modulo per aiutarci a comprendere le tue necessità. Ti ricontatteremo prima possibile. </h3>
  <form>
      <label> Cognome: </label>
      <input type="text" name="cognome" placeholder="Cognome" maxwidth="50" [ngClass]="cognomeInput"
      (focus)="focus();" (focusout)="focusOut()"> <br>
      <label> Nome: </label>
      <input type="text" name="nome" placeholder="Nome"><br>
      <label> Email: </label>
      <input type="text" name="email" placeholder="Email"><br>
      <label> Telefono: </label>
      <input type="text" name="telefono" placeholder="Telefono"><br>
      <div [ngStyle]="componentStyle">
          <label> Ruolo richiedente in azienda: </label>
          <select>
              <option value="altro">Altro</option>
              <option value="senior">Senior</option>
              <option value="middle">Middle</option>
              <option value="junior">Junior</option>
              <option value="manager">Manager</option>
              <option value="ceo">CEO</option>
              <option value="web designer">web designer</option>
          </select>
      </div>
      <div [ngStyle]="componentStyle">
          <label>Come è venuto a conoscenza di Digital Thinks?</label>
             <select name="opzione" >
                        <option value="altro">Altro</option>
                        <option value="google">Google</option>
                        <option value="facebook">Facebook</option>
                        <option value="linkedin">Linkedin</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="youtube">Youtube</option>
                        <option value="commerciale">Commerciale</option>
                        <option value="passaparole">Passaparole</option>
                        <option value="social">Social</option>
                        <option value="conoscenze">Conoscenze</option>
          </select>

          <div [ngStyle]="componentStyle">
              <label>Altri Canali (Se non in lista) </label>
              <input type="text" name="other" minlength="16" maxlength="16">
            <div>
              <label for="textarea">Cosa vuoi richiederci ?</label>
              <textarea name="note" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
      </div>
  </form>
</div> -->

<!-- form seconda versione -->

<div class="form">
  <h3 [ngClass]="componentClasses"> Compila questo modulo per aiutarci a comprendere le tue necessità. Ti ricontatteremo prima possibile.</h3>
  <form>
      <!--
      <input type="radio" name="compilazione" value="manuale" [(ngModel)]="scelta"> Compilazione Manuale
      <input type="radio" name="compilazione" value="auto" [(ngModel)]="scelta" > Compilazione Automatica
      <br> <br>
      -->
      <input type="radio" name="compilazione" value="manuale" [ngModel]="scelta" (ngModelChange)="compilazione($event)"> Compilazione Manuale
      <input type="radio" name="compilazione" value="auto" [ngModel]="scelta"  (ngModelChange)="compilazione($event)"> Compilazione Automatica
      <br> <br>

      <label> Cognome: </label>

      <input type="text" name="cognome" placeholder="Cognome" maxwidth="50" [ngClass]="cognomeInput"
          (focus)="focus();" (focusout)="focusOut()" [(ngModel)]="valoriForm.cognome"> <br><br>

      <label> Nome: </label>
      <input type="text" name="nome" placeholder="Nome" [(ngModel)]="valoriForm.nome"><br><br>
      <label> Email: </label>
      <input type="text" name="email" placeholder="Email" [(ngModel)]="valoriForm.email"><br><br>
      <label> Telefono: </label>
      <input type="text" name="telefono" placeholder="Telefono" [(ngModel)]="valoriForm.telefono"><br><br>
      <div [ngStyle]="componentStyle">
          <label> Ruolo richiedente in azienda: </label>
          <select name="opzione" [(ngModel)]="valoriForm.option">
              <option value="altro">Altro</option>
              <option value="senior">Senior</option>
              <option value="middle">Middle</option>
              <option value="junior">Junior</option>
              <option value="software developer">software developer</option>
              <option value="manager">Manager</option>
              <option value="ceo">CEO</option>
              <option value="web designer">web designer</option>
          </select>
      </div>
      <div [ngStyle]="componentStyle">
          <label>Come è venuto a conoscenza di Digital web service</label>
          <select name="opzione" [(ngModel)]="valoriForm.option">
            <option value="altro">Altro</option>
            <option value="google">Google</option>
            <option value="facebook">Facebook</option>
            <option value="linkedin">Linkedin</option>
            <option value="instagram">Instagram</option>
            <option value="twitter">Twitter</option>
            <option value="youtube">Youtube</option>
            <option value="commerciale">Commerciale</option>
            <option value="passaparole">Passaparole</option>
            <option value="social">Social</option>
            <option value="conoscenze">Conoscenze</option>
          </select>

          <div [ngStyle]="componentStyle">
            <label>Altri Canali (Se non in lista) </label>
            <input type="text" name="other"  [(ngModel)]="valoriForm.altri" minlength="16" maxlength="16">
          <div>
            <label for="textarea">Cosa vuoi richiederci ?</label>
            <textarea name="note" id="" [(ngModel)]="valoriForm.messaggio" cols="30" rows="10"></textarea>
          </div>

        </div>
      </div>
  </form>
</div>
<ul>
  <li> {{valoriForm.cognome}} </li>
  <li> {{valoriForm.nome}}</li>
  <li> {{valoriForm.email}}</li>
  <li> {{valoriForm.telefono}}</li>
  <li> {{valoriForm.option}}</li>
  <li> {{valoriForm.altri}}</li>
  <li> {{valoriForm.messaggio}}</li>

</ul>



