

<div class="paragrafo">
  <u><h1>Termine e Condizioni</h1></u>
  <p>
    Il Sito web è destinato esclusivamente a scopo informativo e non deve essere utilizzato per finalità illegali o non autorizzate. <br>
   L'utilizzo del Sito web implica l'accettazione di non utilizzare il Sito web in modo tale da interrompere, danneggiare o limitare il funzionamento del Sito web o di qualsiasi altro sito web. <br>
    L'utente si impegna a non utilizzare il Sito web per inviare, caricare, pubblicare, inviare o trasmettere materiale che sia: <br>
  </p>
  <ul>
    <li>diffamatorio, offensivo, osceno, pornografico, indecente, violento, razzista, discriminatorio, sessista, lesivo della privacy di terzi, o in qualsiasi altro modo contrario alla legge o agli usi e costumi generalmente accettati;</li>
    <li>in violazione di qualsiasi diritto di proprietà intellettuale o di altri diritti di terzi;</li>
    <li>che contenga virus, Trojan horse, worm, time bomb, cancelletto o altro codice o programma informatico che è progettato o ha l'effetto di danneggiare, interferire con, limitare o interrompere il funzionamento del Sito web o di qualsiasi altro sito web, o di danneggiare o compromettere i dati o la sicurezza del Sito web o di qualsiasi altro sito web;</li>
    <li>che contenga pubblicità o inviti a qualsiasi attività commerciale o promozionale;</li>
    <li>che contenga informazioni personali di terzi senza il consenso di tali terzi;</li>
    <li>che contenga informazioni di contatto, come indirizzi di posta elettronica, numeri di telefono o indirizzi di posta, ecc., di altri utenti senza il loro consenso;</li>
  </ul>

</div>
