.wrap                           {width: 1200px; margin: 0 auto; }
.wrap .wrapInline               {display: inline-block;}
.wrap .wrapInline .fila2        {width: 780px; margin: 0 auto;}
.wrap .wrapInline .biglietti    {width: 380px; height: 100px; margin: 5px; float: left; border: 2px solid orange; box-sizing: border-box;}
