<div id="totale">
 <h2> Key Values </h2>

<div class="wrap">
    <div class="wrapInline">
        <div class="biglietti" [style.background-color]="sfondo" (mouseover)="cambiaSfondo();" (mouseout)="sfondoIniziale();"> {{paroleChiave.v1}} </div>
        <div class="biglietti" [style.background-color]="sfondo" (mouseover)="cambiaSfondo();" (mouseout)="sfondoIniziale();"> {{paroleChiave.v2}} </div>
        <div class="biglietti" [style.background-color]="sfondo" (mouseover)="cambiaSfondo();" (mouseout)="sfondoIniziale();"> {{paroleChiave.v3}} </div>
        <div class="fila2">
            <div class="biglietti" [style.background-color]="sfondo" (mouseover)="cambiaSfondo();" (mouseout)="sfondoIniziale();"> {{paroleChiave.v4}} </div>
            <div class="biglietti" [style.background-color]="sfondo" (mouseover)="cambiaSfondo();" (mouseout)="sfondoIniziale();"> {{paroleChiave.v5}} </div>
        </div>
    </div>
</div>
</div>
