td,
th {
  padding: 5px;
  border: 1px solid #fff;
}

th {
  background: #d7c5c5;
  color: green;

}

td {
  background-color: silver;
  color: red;
}

button {
  padding: 5px;
  border: 1px solid #222;
  width: 80px;
}

button.cancella {
  background: white;
  color: red;
 }

 button.update{
  background-color: #fff;
  color: green;
 }
