


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(72 132 175 / 90%);
  color: white;
  text-align: center;
  border-top: 1px solid #fff;
  box-shadow: 0px 10px 22px -7px rgb(0 0 0 / 50%);
}
ul {
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}








