<div><hr>
  <p>Siamo a tua disposizione per qualsiasi informazione <a href="#"> Compila il modulo di contratto </a>telefona al
      numero
      +39 38 92 978 507 oppure scrivi a <a href="#">gueaserge2@gmail.com</a></p> </div>


<form action="message">
  <div class="container">
    <h1>Contattaci</h1>
    <p>Compila il modulo per essere ricontattato</p>
    <label for="name"><b>Nome</b></label>
    <input type="text" placeholder="Inserisci il tuo nome" name="name" required>

    <label for="surname"><b>Cognome</b></label>
    <input type="text" placeholder="Inserisci il tuo cognome" name="surname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Inserisci la tua email" name="email" required>

    <label for="phone"><b>Telefono</b></label>
    <input type="text" placeholder="Inserisci il tuo numero di telefono" name="phone" required>

    <label for="message"><b>Messaggio</b></label>
    <input type="text" placeholder="Inserisci il tuo messaggio" name="message" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Ricordami
    </label>

    <p>Creando un account accetti i nostri <a href="#" style="color:dodgerblue">Termini & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancella</button>
      <button type="submit" class="signupbtn">Invia</button>
    </div>
  </div>
</form> <br> <br>
