table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
  border: 1px solid #fff;
}

th {
  background: #4ad0eb;
  color: green;

}

.th .action {
  background: #4ad0eb;
  color: green;
  text-align: center;
}

td {
  background-color: silver;
  color: rgb(63, 59, 59);
}

button {
  padding: 5px;
  border: 1px solid #5bb3cb;
  width: 80px;
}



