.about-us-mission {
  padding: 40px 0;
}

.about-us-mission h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-us-mission p {
  font-size: 14px;
  line-height: 1.8;
  color: #666;
}

.about-us-mission-item {
  padding: 20px;
}

.about-us-mission-item img {
  width: 100px;
  margin-bottom: 20px;
}

.about-us-mission-item p {
  font-size: 14px;
  line-height: 1.8;
  color: #666;
}
