
<!-- crea un sidebar con un link di collegamento tag a-->
<!-- <div class="col-12"> -->


   <div class="generic-paragraph-div text-justify">




<!-- ====== init sidebar ==== -->
 <div class="col-12">
   <div class="generic-paragraph-div text-justify">
     <p class="title-par">Menu</p>
     <p class="body-par">
       <a href="http://localhost:4200/home">Home</a>
       <br>
       <a href="http://localhost:4200/chi-siamo">Chi siamo</a>
       <br>
       <a href="http://localhost:4200/menu">Menu</a>
       <br>
       <a href="http://localhost:4200/sidebar">Sidebar</a>
       <br>
       <a href="http://localhost:4200/footer">Footer</a>
       <br>
     </p>
   </div>





