/*#contenitore{
  width: 1100px;
  margin: auto;

}
p{
  font-size: 18px;
  line-height: 2;
} */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}


#contenitore {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
}


h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #333;
}


@media screen and (max-width: 768px) {
  #contenitore {
    padding: 16px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 1.2;
  }
}


