body{
    background-color: lightgray;
}
h1{
    text-align: center;
    color: red;
}
.container{
    width: 450px;
    margin: 30px auto;
    background-color: lightgray;
    padding-inline: 20px 20px;
}
.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px;
    
   
}
.aqua{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
}
section{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    color: white;
    font-style: italic;
}
div{
    display: inline-block;

}