<h1>Menu</h1>

 <menu type="toolbar">
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>
  <button mat-button routerLink="/cart">Cart</button>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-button routerLink="/admin">Admin</button>
  <button mat-button routerLink="/admin/products">Products</button>
  <button mat-button routerLink="/admin/orders">Orders</button>
  <button mat-button routerLink="/admin/users">Users</button>
  <button mat-button routerLink="/admin/cate ">Categories</button>
 </menu>


<app-cart></app-cart>
