<style>
  .footer {
    background-color: #f5f5f5;
    padding: 40px 0;
  }

  .title-par {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .body-par {
    font-size: 14px;
    line-height: 1.8;
    color: #666;
  }

  .footer-contact {
    margin-bottom: 30px;
  }

  .footer-contact h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .footer-contact p {
    font-size: 14px;
    line-height: 1.8;
    color: #666;
  }

  .footer-contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e1e1e1;
    color: #666;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  .footer-contact .social-links a:hover {
    background: #d6d6d6;
    color: #fff;
  }

  .footer-links {
    margin-bottom: 30px;
  }

  .footer-links h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-links ul i {
    padding-right: 2px;
    color: #ffbb2c;
    font-size: 18px;
    line-height: 1;
  }
</style>

<section class="footer-contact" style="padding: 20px 45px; margin-top: 50px">
  <div
    class="container aos-init aos-animate"
    data-aos="fade-up"
    data-aos-delay="300"
  >
    <div class="row">
      <div class="col-12 d-flex p-2" style="text-align: justify"></div>
      <div class="col-12" style="text-align: justify">
        <hr style="border-top: 1px solid #1c1835" />
        Siamo a tua disposizione per qualsiasi informazione.
        <a href="/forms/contact" style="text-decoration: underline">Compila il modulo di contatto</a>,
         telefona al numero +39 38 92 978 507 oppure scrivi a
        <a href="mailto:gueaserge2@gmail.com" style="text-decoration: underline">gueaserge2@gmail.com</a
        >
      </div>
    </div>
  </div>
</section>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr style="border-top: 1px solid #1c1835" />
      </div>
    </div>
  </div>
</div>
<!-- form-->
<form action="">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" />
  </div>
  <div class="checkbox">
    <label><input type="checkbox" /> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="footer-top" style="background: #f5f5f5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-contact">
        <h3>
          <img src="/images/logo.png" alt="logo" class="img-fluid" />
          My WebApp SRL
        </h3>
        <p>
          Via virgilio, 19 <br />
          Formia <br />
          04023 (LT), Italia<br />
          <br />
          <strong>Phone:</strong> +39 3892978507<br />
          <strong>Email:</strong
          ><a href="mailto:gueaserge2@gmail.com">gueaserge2@gmail.com</a><br />
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Link utili</h4>
        <ul>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a
              href="/ANGULAR-PROJECT/My-webapp/src/app/home/home.component.html"
              >Home</a
            >
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a
              href="/ANGULAR-PROJECT/My-webapp/src/app/chi-siamo/chi-siamo.component.html"
              >Chi Siamo</a
            >
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="/">Termini e Condizioni</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i> <a href="/">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>I Nostri servizi</h4>
        <ul>
          <li>
            <i class="bx bx-chevron-right"></i> <a href="/">Cerca servizi</a>
          </li>
          <li><i class="bx bx-chevron-right"></i> <a href="/">Catalogo</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Social network</h4>
        <p>Contattaci sui Social</p>
        <div class="social-links mt-3">
          <a href="https://www.instagram.com/serge_guea" class="instagram"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/sergeguea" class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4 footer-copyright">
    <div class="copyright">
      © Copyright <strong><span>My-webApp </span></strong> All Rights Reserved
    </div>
    <div class="credits">Designed by Serge Guea</div>
  </div>
</div>

<!-- End Footer -->
