#totale {
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #fff;
}

#totale h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #333;
  text-align: left;
}

#primariga, #secondariga {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.quadrato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.quadrato i {
  margin-bottom: 20px;
  color: rgb(190, 190, 15);
}

.quadrato p {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}
i{
  font-size: 3rem;
  color: yellow;
}



