
<div id="totale">
  <h1>Mission</h1>
  <div id="primariga">
      <div class="quadrato"><i class="fa fa-camera-retro fa-3x"></i><p>Formare Nuove Risorse seguendo le roadmap delle figure professionali richieste dal mercato</p></div>
      <div class="quadrato"><i class="fa fa-rocket fa-5x" aria-hidden="true"></i><p>Certificare le skills professionali</p></div>
      <div class="quadrato"><i class="fa-sharp fa-solid fa-house fa-3x"></i><p>Soddisfare il gap formativo delle competenze nella sfera digitale</p></div>
  </div>
  <div id="secondariga">
      <div class="quadrato"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i><p>Convertire le risorse al cambiamento, attraverso processi di reskilling all’interno delle aziende, per renderle pronte ad affrontare le sfide di un business in continua evoluzione</p></div>
      <div class="quadrato"><i class="fa-sharp fa-solid fa-cloud fa-3x"></i><p>Diversità e Innovazione proposte formative mirate ad aumentare l’inclusione e l’occupabilità</p></div>
      <div class="quadrato"><i class="fa-sharp fa-solid fa-face-smile fa-3x"></i><p>Sviluppo di figure professionali capaci di innovare in ambito ambientale ed energetico, grazie all’utilizzo delle nuove tecnologie e degli analytics</p></div>
  </div>
</div>
