<mat-toolbar color="primary">
    <span>Title</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/service">Service</button>
    <button mat-button routerLink="/contact">Contact</button>
</mat-toolbar>

    <div>
        <nav>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contact" routerLinkActive="active">Service</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>

    </div>
</mat-toolbar>



