/* Style per il menu container */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #27b3b8;
}

/* Style per il logo */
.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Style per il menu items */
.item {
  list-style: none;
}

.item a {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #2098a6;
  text-decoration: none;
}

/* Style per il buttons */
.button {
  background-color:white;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  text-transform: uppercase;
}

/* Style per il secongo button */
.secondary {
  background-color: #f2f2f2;
  color: #333;
}

.secondary:hover {
  background-color: #333;
  color: #fff;
}

/* Style per il toggle button */
.toggle {
  cursor: pointer;
}

.bars {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27b3b8;
  padding: 20px;
  z-index: 1;
}
