<!-- init section header-->


    <nav>
      <img src="https://dthinks.it/images/logo/Logo_DThinks.png" alt="logo">

      <ul>
        <li class="item "><i class="fa fa-home" aria-hidden="true"></i><a href="#">Home</a></li>
        <li class="item "><a href="#">Chi siamo</a></li>
        <li class="item "><a href="#">Mission</a></li>
        <li class="item "><i class="fa-solid fa-right-from-bracket fa-fade"></i><a href="#">Login</a></li>
        <li class="item  "><i class="fa fa-sign-out" aria-hidden="true"></i><a href="#">Sign Up</a></li>
        <li class="toggle"><span class="bars"></span></li>
      </ul>
    </nav>
    <div>
      <h1>MY WEBAPP SERVICE </h1>
  </div>


<!-- end section header-->

